@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Color system

// gray-color-variables
$white:    #fff;
$gray-100: #fafafa;
$gray-200: #f2f2f2;
$gray-300: #e1e1e1;
$gray-400: #bebebe;
$gray-500: #949494;
$gray-600: #7F7F7F;
$gray-700: #666666;
$gray-800: #404040;
$gray-900: #212529;
$black:    #000;

// color-variables
$blue:    #045bc1;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #d0021b;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// theme-color-variables
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Prefix for :root CSS variables
$variable-prefix:             um-;
$prefix:                      $variable-prefix;

// spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Body
$body-color:                $gray-800;

// Links
$link-color:                              $primary;
$link-decoration:                         none;
$link-shade-percentage:                   20%;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   underline;

// Components

// border-variables
$border-width:                1px;

$border-style:                solid;
$border-color:                $gray-300;
$border-color-translucent:    rgba($black, .175);

// border-radius-variables
$border-radius:               .1875rem;
$border-radius-sm:            .1875rem;
$border-radius-lg:            .1875rem;
$border-radius-xl:            .1875rem;
$border-radius-2xl:           .1875rem;
$border-radius-pill:          50rem;

// Typography

// font-variables
$font-family-sans-serif:      "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif:           "Roboto Slab", Times, Times New Roman, Georgia, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// $font-size-base affects the font size of the body text
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.082;
$h6-font-size:                $font-size-base;

// font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

// headings-variables
$headings-font-family:        $font-family-serif;
$headings-font-weight:        600;
$headings-line-height:        1.2;
$headings-color:              null;


@import "../node_modules/bootstrap/scss/bootstrap.scss";
