{% load i18n navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% for menuitem in menuitems %}
  <li class="nav-item {% if menuitem.show_dropdown %}dropdown{% endif %}">
      {% if menuitem.show_dropdown %}
          <a class="nav-link dropdown me-3" href="{% pageurl menuitem %}" id="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuitem.title }}</a>
              {% top_menu_children parent=menuitem %}
      {% else %}
          <a href="{% pageurl menuitem %}" class="nav-link {% if menuitem.active %}active{% endif %} me-3">
            {{ menuitem.title }}
        </a>
      {% endif %}
  </li>
{% endfor %}