{% load wagtailcore_tags navigation_tags wagtailimages_tags %}


<div class="col-sm-6 col-m-4 col-lg-3 grid-item">
    <div class="card mb-4">
        {% if organization.logo %}
            <div class="card-fold position-relative">
                {% image organization.logo max-250x250 as image %}
                <img src="{{ image.url }}" alt="..." class="pt-2 px-5 card-img-top" />
            </div>
        {% endif %}
        <div class="card-body">
            <h4 class="card-title">
                <a class="text-reset stretched-link" href="{% pageurl organization %}">
                    {{ organization.title }}
                </a>
            </h4>                               
            <div>
                <small class="text-muted">{% for country in organization.countries %}{{ country.name }}{% endfor %}</small>                             
            </div>                  
        </div>
    </div>
</div>
